.scrollable-credits {
  overflow: hidden;
  height: 100vh;
  position: relative;

  & div {
    position: absolute;
    will-change: transform;
    color: #fff;
    left: 40%;
    display: inline-block;
    text-align: center;
    white-space: nowrap;

    p {
      transition: transform 0.3s ease-in-out;
    }
  }
}
